{{!< default}}
<div class="indexBox" id="indexBox">
  {{> "brief"}}
  {{> "sideNav"}}

  <div class="mobileOnly">
    {{navigation}}
  </div>
  <!--userAgent-->
  <div class="UABox">
    <h4 class="userAgent">欢迎上车「</h4>
    <h4 id="ip"  class="userAgent"></h4>
    <h4 class="userAgent">」</h4>
  </div>
  <div class="UABox">
    <img src="" id="OSImg" class="userAgent">
    <h4 id="OSBox" class="userAgent"></h4>
    <img src="" id="BSImg" class="userAgent">
    <h4 id="BSBox" class="userAgent"></h4>
  </div>

  <!--countDown-->
  <div class="countDown">
    <div class="countBlock">
      <p class="day">0</p>
      <p class="unit">Days</p>
    </div>
    <div class="countBlock">
      <p class="hour">0</p>
      <p class="unit">Hours</p>
    </div>
    <div class="countBlock">
      <p class="minute">0</p>
      <p class="unit">Minutes</p>
    </div>
    <div class="countBlock">
      <p class="second">0</p>
      <p class="unit">Seconds</p>
    </div>
  </div>

  {{#author}}
    <div class="portrait">
      {{#if @blog.logo}}
        <a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
      {{/if}}
    </div>
  {{/author}}
</div>