{{!< default}}
<div class="indexBox">
  <div class="fix">
    <div class="menu">
      <a href="#"><img src="{{asset "./image/menu.png"}}" title="showMenu"></a>
      <div class="toggleMenu">
        {{navigation}}
      </div>
    </div>
    <a href="#"><img src="{{asset "./image/top.png"}}" title="toTop"></a>
  </div>

{{> "articleView"}}
</div>